vendor/
web/core/
web/modules/contrib/
web/themes/contrib/
web/profiles/contrib/
web/libraries/
web/sites/*/files/
web/sites/*/settings.local.php
.env
/smallpush-ui/
/web/themes/custom/smallpush-ui/
/.editorconfig
/.gitattributes
